/* Globales */
.noticias_wrapper{
    width: min(100%, 1200px);
    margin: 4rem auto 0;
}

.noticias_wrapper a{
    text-decoration: none;
}



/* Header */

.notheader{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

    .notheader h1{
        font-weight: bold;
    }



/* General Wrapper */

.mainaside_container{
    display: grid;
    height: 69rem;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
}

        .mainaside_container h2{
            margin-bottom: 2rem;
            font-weight: 600;
        }



/* Main Recientes */

.notrecientes{
    width: 100%;
}

    .recientes__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

        .rgrid__element{
            width: 100%;
            height: 20rem;
            padding: 1rem;
            background-position: center;
            background-size: cover;
            border-radius: 0.8rem;
            box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
            transition: transform 0.4s;
            display: flex;
            align-items: flex-end;
        }

                        .rgrid__element:hover{
                            transform: scale(1.04);
                        }

            .rgrid__element h3{
                font-weight: 600;
                color: white;
            }

                /* Grid Element */
                        .element1{
                            grid-column: 1 / 3;
                            background-image: url(../img/sandwich3.jpg);
                        }

                        .element2{
                            background-image: url(../img/chocolate.jpg);
                            background-position: right 70% bottom 30%;
                        }

                        .element3{
                            background-image: url(../img/juice2.jpg);
                        }

                        .element4{
                            background-image: url(../img/licgastronomia.png);
                        }

                        .element5{
                            background-image: url(../img/mujer-chef.jpg);
                        }

                        .element6{
                            background-image: url(../img/knifeimg.jpg);
                        }

                        .element7{
                            grid-column: 2 / 4;
                            background-image: url(../img/kitchenimage.jpg);
                        }



/* Sidebar */

.notsidebar{
    width: 100%;
    height: 100%;
    padding: 0 ;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

    /* Categorías Búsqueda*/

    .sidebar__categorias{
        width: 100%;
        height: 44rem;
        padding: 0 1.5rem;
    }

        .categorias__elementcontainer{
            height: 39rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .categorias__element{
                background-color: var(--primario);
                padding: 1.5rem;
                border: 0.4rem solid transparent;
                border-radius: 0.8rem;
                transition: all 0.3s;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
            }

            .categorias__element svg{
                max-width: 3rem;
                max-height: 3rem;
            }

                .categorias__element:hover{
                    background-color: transparent;
                    border: 0.4rem solid var(--primario);
                }


    /* Redes Sociales */

    .sidebar__socialmedia{
        width: 100%;
        height: 21rem;
        padding: 2rem;
        border-radius: 1rem;
        background-image: url(../img/meatbgimg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

        .sidebar__socialmedia h2{
            color: white;
        }

        .smgrid__container{
            width: 100%;
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            align-self: center;
        }

        .smgrid__element{
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .smgrid__element svg{
                width: 5rem;
                height: 5rem;
                fill: white;
                margin: 0;
                transition: transform .3s;
            }

                .smgrid__element svg:hover{
                    transform: scale(1.10);
                }


/* Separador */
.separator{
    width: min(100%, 1200px);
    height: .5rem;
    background-color: var(--primario);
    margin: 4rem auto;
}

/* Forum */
.forum_wrapper{
    width: min(100%, 1200px);
    height: 220rem; /* eliminable xd */
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
}

.forum_wrapper a{
    text-decoration: none;
}