:root{
    --cards-font-color: #f1f1f1;
}

html{
    box-sizing: border-box;
    font-size: 10px;
}

.site-container{
    width: min(100%, 1200px);
    margin: 4rem auto 0;
}

.site-container a{
    text-decoration: none;

}
.site-container h3{
    font-size: 1.9rem;
}

.recipes__title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.recipes__title p{
    color: #000;
}

.recipes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

.recipe-sort form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recipe-sort form h3{
    margin-bottom: 1rem;
}

.recipe-sort form .search-box{
    padding: 0.5rem;
    border: 0.4rem solid var(--primario);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.recipe-sort form .search-box i{
    font-size: 2rem;
    margin: 0.2rem;
}

.recipe-sort form .search-box input{
    border: none;
    outline: none;
    font-size: 1.4rem;
}

.recipe-sort form .time-box{
    display: flex;
    justify-content: space-between;
}

.time-box button{
    padding: 1rem;
    font-size: 1.5rem;
    border: 0.4rem solid var(--primario);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.time-box button:hover{
    background-color: var(--primario);
    color: #f1f1f1;
}

.reset_sort{
    width: 10rem;
    align-self: flex-end;
    padding: 0.8rem;
    border: 0.4rem solid var(--primario);
    background-color: var(--primario);
    color: #f1f1f1;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.reset_sort:hover{
    background-color: transparent;
    color: var(--primario);
}

.recipes__container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
}

.recipe_card{
    display: flex;
    background-color: var(--primario);
    height: 30rem;
    width: 27rem;
    flex-direction: column;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.recipe_card:hover{
    transform: translate3d(400px);
}

.recipe_card .card_img{
    height: 19rem;
    background-position: center;
    background-image: url(../img/DreamShaper_v7_Krabby_Patty_1-min.jpg);
    background-size: cover;
}

.recipe_card .card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    flex-grow: 1;
    color: var(--cards-font-color);
}

.recipe_card .card_details{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1235px){
    .site-container{
        padding: 0 2rem;
    }
}
@media (max-width: 900px){
    .recipe-sort{
        display: none;
    }
}