@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

:root{
    --primario: #f07e13;
    --secundario: #0194be;
    --terciario: #410936;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 2.1rem;
}

p{
    font-size: 1.6rem;
}


/****************** INICO AREA DE TRABAJO EQUIPO 2 INDEX.HTML ********************/
.Header__Logo img{
    width: 6rem !important;
    height: 6rem;
}



/****************** FIN AREA DE TRABAJO EQUIPO 2 INDEX.HTML ********************/




/****************** INICIO AREA DE TRABAJO EQUIPO 1 RECETAS.HTML ********************/


/****************** FIN AREA DE TRABAJO EQUIPO 1 RECETAS.HTML ********************/




/****************** INICIO AREA DE TRABAJO EQUIPO 3 NOTICIAS.HTML ********************/


/****************** FIN AREA DE TRABAJO EQUIPO 2 NOTICIAS.HTML ********************/












* {
    padding: 0px;
    margin: 0px;
}


.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0194be;
    padding: 10px 0px;
}

.Header__Logo img {
    width: 100px;
    border-radius: 20px;
    margin-left: 20px;
    transition: transform .3s;
}

.Header__Logo img:hover {
    transform: scale(1.05);
    justify-content: spac;
}



.Header__Nav {
    margin-right: 20px;
}

.Header__Nav a {
    text-decoration: none;
    color: white;
    padding: 0px 8px;
    font-size: 18.8px;
    transition: all .3s;
}


.Header__Nav a:hover {
    color: #ccc;
}